.container{
    background-color: wheat;
}

.header{
    background-color: red;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer{
    background-color:green;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.task{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: pink;
}

.finished {
    background-color: green; 
}

.unfinished {
    background-color: red; 
}

.search_div {
    
    background-color: palegreen;
    padding: 10px;
}